* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

/* filter for .svg */

/* 1920 x 1600 */
/* header */

.header {
    height: 120px;
    background-color: #9b5454;
    border-bottom-color: #fff;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.header__logo {
    margin: 0 240px;
    display: inline-block;
}

.header__nav {
    display: inline-block;
}

.header__nav-pages {
    display: inline-block;
    margin: 0 30px;
}

.header__nav-link {
    padding: 40px 20px;
    color: #fff;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;

}

.header__nav-link:hover {
    border-bottom-color: blue;
    border-bottom-width: 6px;
    border-bottom-style: solid;

}

.header__nav-socials {
    display: inline-block;
}

.header__nav-social-link {}