@import url("./styles_background.css");
@import url("./styles_fonts.css");
@import url("./styles_header.css");
@import url("./styles_start-using.css");
@import url("./styles_subscription.css");
@import url("./styles_hiw.css");
@import url("./styles_about-us.css");
@import url("./styles_FAQ.css");
@import url("./styles_request.css");
@import url("./styles_footer.css");

.caption {
    margin-top: 15vh;
    margin-bottom: 1em;
    text-align: center;
    font-weight: 700;
    font-size: 3.5vw;
    line-height: 140%;
    color: #171717;
}