@import url("./styles_Netflix-page.css");

/* SPOTIFY PAGE */
#spotify-flex {
    display: flex;
    flex-direction: row;
    width: 24vw;
}

#spotify-invisible {
    position: absolute;
}

.plan__options_card_wrapper-spotify {
    /* position: relative;
    top: 11vw; */
}

#spotify-price {
    margin-top: 15vw;
}