
.povekunos-undes {
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(213, 216, 221, 0.2);
    border-radius: 32px;
    margin-left: -198px;
    text-align:center;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 464px;
    transform: translate(0, -500%);
    transition: transform 0.3s ease-out;
}

.povekunos-header,
.povekunos-body {
    margin: 0;
    padding: 1.5vw 3vw;
    text-align: left;
}

.povekunos-header h3 {
    font-weight: 700;
    font-size: 3vw;
    line-height: 140%;
    color: #171717;
    margin: 0;
}

.povekunos-header h6 {
    margin: 0;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 150%;
    color: #000000;
}

#link {
    color: #1749B3;
    text-decoration: underline;
}

.povekunos-body h6 {
    margin: 0;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 150%;
    color: #000000;
}

.povekunos-body input {
    width: 95%;
    background: #F1F4F8;
    border-radius: 1.2vw;
    border-style: none;
    padding: 1vw;
    color: #8F8F8F;
    outline: 0;
    margin-top: 0.5vw;
    border-radius: 8px;
}

.povekunos-body input ~ h6 {
    margin-top: 1vw;
}

.povekunos-login {
    display: flex;
    padding: 1.5vw 3vw;
    justify-content: space-between;
}

.povekunos-login__forgot {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #0F0F0F;
}




.autorize-services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5vw 3vw;
}

.autorize-services__card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DFDFDF;
    border-radius: 12px;
    width: 30%;
    height: 6vw;
}

.privacy-policy-line {
    padding: 1.5vw 3vw;
    text-align: left;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #9C99AD;
}

.autorize-button {
    font-weight: 700;
    font-size: 1.8vw;
    line-height: 130%;
    color: #FFFFFF;
}








.forma-vkhoda {
    background: #1749B3;
    color: #f9f5f5;
    display: inline-block;
    /* padding: 10px 18px; */
    text-decoration: none;
    text-align: center;
    /* min-width: 75px; */
    position: relative;
    transition: color .1s ease;
    border-radius: 50px;
}

.forma-vkhoda:hover {
    background: #4065b5;
}

.forma-vkhoda.forma-vkhoda-big {
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px;
}

.forma-vkhoda-close {
    color: #3A3A3C;
    background-color: red;
    border-radius: 50%;
    height: 2vw;
    width: 2vw;
    font-size: 3vw;
    text-decoration: none;
    padding:10px;
    position: absolute;
    right: 3vw;
    top: 1.5vw;
}









.forma-vkhoda-close:hover {
    color: #292828;
}

.povekunos:before {
    content: "";
    display: none;
    background: rgba(19, 17, 18, 0.58);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.discovered:before {
    display: block;
}

.discovered .povekunos-undes {
    transform: translate(0, 0);
    top: 5%;
}



.povekunos-header,
.povekunos-footer {
    /* padding: 10px 20px; */
}



.autorize-button {
    display: inline-block;
    height: 30px; 
}