
.header {
    position: absolute;
    width: 100%;
    height: 5vw;
    left: 0px;
    top: 0px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header__logo img {
    width: 5vw;
}

.header__logo-text {
    background-color: #ffffff;
    font-family: 'Manrope', sans-serif;
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 130%;
    align-items: center;
}

.header__nav {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.header__nav-pages {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .header__nav-pages_dropdown {
    position: relative;
    display: inline-block;
  }

  .header__nav-pages_dropdown_title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#no-margin {
    margin: 0;
}

.header__nav-pages_dropdown_title_arrow {
    margin-right: 3vw;
    cursor: pointer;
}

/* Кнопка выпадающего списка */
.header__nav-pages_dropbtn {
    background-color: #ffffff;
    font-size: 1.5vw;
    border: none;
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .header__nav-pages_dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 17vw;
    box-shadow: 0px 20px 48px rgba(177, 177, 177, 0.4);
    z-index: 1;
    border-radius: 16px; 
  }
  
  /* Ссылки внутри выпадающего списка */
  .header__nav-pages_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .header__nav-pages_dropdown-content a:hover {
    color: #1749B3;
}
  
  /* Показать выпадающее меню при наведении курсора */
  .header__nav-pages_dropdown:hover .header__nav-pages_dropdown-content {
    display: block;
}
  
  /* Изменение цвета текста при отображении содержимого раскрывающегося списка */
  .header__nav-pages_dropdown:hover .header__nav-pages_dropbtn {
    color: #1749B3;
}

.header__nav-link {
    margin-right: 3vw;
    cursor: pointer;
}

.header__button-login {
    background-color: #1749B3;
    border-style: none;
    font-size: 1.5vw;
    color: #ffffff;
    width: 12vw;
    height: 3vw;
    border-radius: 12px;
    cursor: pointer;
}

.header__nav-social-link {
    margin-right: 1vw;
}

.header__nav-socials img {
    width: 1.5vw;
}

.header__nav-languages {
    margin-left: 2vw;
}

.header__menu-icon {
    display: none;
}